* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

.title {
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px 20px 50px;
  font-weight: 1000;
  color: white;
  position: sticky;
  top: 0;
  background-color: #2a3251;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.banner {
  display: flex;
  align-items: center;
}

.option {
  padding: 0 30px;
}

.findbutton {
  padding: 0 20px 0 0;
}

.option:hover,
.findbutton:hover {
  color: rgba(179, 222, 254, 0.911);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.image {
  height: 50px;
}

a {
  text-decoration: none;
  color: white;
}

input,
button {
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  height: 28px;
  font-size: 15px;
}

button {
  background-color: rgba(205, 243, 255, 0.692);
}

button:hover {
  background-color: #2a3251;
  color: white;
}

.navermap {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  margin: 0 10px 0 30px;
}

.findmap {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1080px) {
  .title .option:not(:first-child) {
    display: none;
  }

  .title .findmap {
    margin-left: auto;
    margin-right: auto;
  }
}
